@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: 500;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  display: block;
  color: #777;
  text-decoration: none;
  transition: 0.4s;
}

/* reset end */
#contactform .btn-animation {
  display: flex;
  justify-content: center;
  align-items: center;
}

#topbar {
  display: flex;
  justify-content: space-between;
}

#contactform .btn-animation {
  border-radius: 99px;
  cursor: pointer;
  height: 40px;
  width: 120px !important;
  margin: 20px auto;
  border: solid 1px #284345;
  color: #284345;
  letter-spacing: 15px;
  padding-left: 15px;
}
#contactform .btn-animation:hover {
  animation: rotate 0.7s ease-in-out both;
}
#contactform .btn-animation:hover span {
  animation: rotate 0.7s ease-in-out both;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(3px, 0, 0);
  }
  50% {
    transform: translate3d(-2px, 0, 0);
  }
  75% {
    transform: translate3d(1px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@font-face {
  font-family: "Morgan";
  src: url(../webfonts/Morgan.ttf);
}
/* 共用區 ---------------------------------------------*/
.title {
  margin: 110px 0 30px;
}
.title * {
  text-align: center;
  font-weight: 500;
}
.title h2 {
  font-family: "Morgan";
  font-weight: 700;
  font-size: 1.2rem;
  border-bottom: solid 3px #171414;
}
.title h3 {
  font-family: "PingFang TC", normal;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 10px;
}

.logo {
  width: 50%;
}

.icon a {
  width: 35px;
  height: 35px;
  margin: 5px;
}

.icon-fb {
  background-image: url(../images/icon-fb.svg);
}
.icon-fb:hover {
  background-image: url(../images/icon-fb-hover.svg);
}

.icon-ig {
  background-image: url(../images/icon-ig.svg);
}
.icon-ig:hover {
  background-image: url(../images/icon-ig-hover.svg);
}

.icon-line {
  background-image: url(../images/icon-line.svg);
}
.icon-line:hover {
  background-image: url(../images/icon-line-hover.svg);
}

/* 頁首區 ---------------------------------------------*/
#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  z-index: "99999";
  padding: 10px 30px;
}
#topbar ul {
  display: flex;
  justify-content: flex-end;
}
#topbar .menu {
  padding: 0 10px;
  border-radius: 99px;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  border: solid 2px #284345;
  -Webkit-backdrop-filter: blur(10px);
  box-shadow: 2px 4px 10px rgba(255, 255, 255, 0.2), inset -1px -1px 1px rgba(255, 255, 255, 0.4);
}
#topbar .menu a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin: 10px;
  border-bottom: solid 2px transparent;
}
#topbar .menu a:hover {
  color: #000000;
  border-bottom: solid 2px #000000;
}