// color
$primary:#5e6c5b;
$cream:#f3efe6;
$sea:#d6ede2;
$slate:#81817f;
$forest:#284345;

$mode-dark: #3e3e3b;
$mode-light: #e2e2e2;

// Neutral colors
$white: #fff;

// $light:;           
$light-gray:#faf5f2;
$gray:#a29d9a;
$dark-gray: #5e5d5b;
$deep-gray: #2d2c2b;
$charcoal:#171414;
$black: #000000;

// background
$bg-1:#f3efe6;;
// $bg-2:;
// $bg-3:;

// Secondary
$lesser-1:#d6e0e2;
// $lesser-2:;
// $lesser-3:;

// alpha
$alpha-w-10:rgba(255, 255, 255, 0.1);
$alpha-w-20:rgba(255, 255, 255, 0.2);
$alpha-w-40:rgba(255, 255, 255, 0.4);
$alpha-w-70:rgba(255, 255, 255, 0.7);

$alpha-b-20:rgba(0, 0, 0, 0.2);

$alpha-20: 0.2;
$alpha-30: 0.3;
$alpha-40: 0.4;
$alpha-50: 0.5;