// font-family
$family-display: "Bacasime Antique", sans-serif;
$family-en:"Raleway", sans-serif;
$family-tc: "PingFang TC", normal;

// font-size
$f-s-xs:0.75rem;
$f-s-sm:0.85rem;
$f-s-md:1rem;
$f-s-lg:1.2rem;
$f-s-xl:1.5rem;
$f-s-xxl:1.8rem;
$f-s-ex:4rem;

// font-weight
$f-w-bl:900;
$f-w-b:700;
$f-w-m:600;
$f-w-r:400;
$f-w-l:300;