// color
$primary:#5e6c5b;
$cream:#f3efe6;
$sea:#d6ede2;
$slate:#81817f;
$forest:#284345;

$mode-dark: #3e3e3b;
$mode-light: #e2e2e2;

// Neutral colors
$white: #fff;
// $light:;           
$light-gray:#faf5f2;
// $gray:;
$dark-gray: #171414;
// $deep-gray:;
// $charcoal:;
$black: #000000;

// alpha
$alpha-20: 0.2;
$alpha-30: 0.3;
$alpha-40: 0.4;
$alpha-50: 0.5;

// font-family
$family-en: Morgan;
$family-tc: "PingFang TC";

// font-size
$f-s-xs:0.75rem;
$f-s-sm:0.85rem;
$f-s-md:1rem;
$f-s-lg:1.2rem;
$f-s-xl:1.5rem;
$f-s-xxl:1.8rem;
$f-s-ex:4rem;

// spacing
$spacimg-sm:15px;
$spacimg-md:20px;
$spacimg-lg:25px;
$spacing-xl:30px;

$spacing-x-sm: 0 15px;
$spacing-x-md:0 20px;
$spacing-x-lg:0 25px;
$spacing-x-xl:0 30px;

$spacing-y-sm:10 0px;
$spacing-y-md:15 0px;
$spacing-y-lg:20 0px;
$spacing-y-xl:30 0px;

// radius
$radius-sm: 6px;
$radius-md: 12px;
$radius-lg: 24px;