@use 'reset'; // @use須在任何其他規則之前寫入
@use 'variables' as *;
@use 'function' as *;
@use 'keyframe';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family&family=Bacasime+Antique&display=swap');

@font-face {
    font-family: "Morgan";
    src: url(../webfonts/Morgan.ttf);
}

/* 共用區 ---------------------------------------------*/

// 區塊標題
.title {
    margin: $spacing-lg 0 $spacing-xl;
    position: relative;

    * {
        text-align: center;
        font-weight: $f-w-m;
    }

    h2 {
        font-family: $family-display;
        font-weight: $f-w-m;
        font-size: $f-s-lg;
        @include border-bottom;
        position: relative;

        &::before {
            content: ""; // 必填項目！
            position: absolute;
            bottom: 5px;
            left: -35px;
            background-color: $grass;
            width: 17px;
            height: 17px;
            border-radius: $radius-ex;
        }
    }

    h3 {
        font-family: $family-tc;
        font-weight: $f-w-r;
        font-size: $f-s-lg;
        margin-top: 10px;
        position: relative;

        &::after {
            content: ""; // 必填項目！
            position: absolute;
            bottom: 10px;
            right: -28px;
            background-color: $grass;
            width: 10px;
            height: 10px;
            border-radius: $radius-ex;
        }

    }

}

.logo {
    width: 50px;
}

.icon {
    a {
        width: 35px;
        height: 35px;
        margin: $spacing-xxs;
    }
}

.more {
    width: 120px;
    line-height: 40px; // 單行文字垂直置中，可以使用行高取代高度
    text-align: center;
    background-color: $grass;
    border-radius: $radius-ex;
    // vertical-align: middle;
    margin: $spacing-lg;
}

// 迴圈 => 不調用，直接編譯語法（不寫入function
@each $social in fb, ig, line {
    .icon-#{$social} {
        background-image: url(../images/icon-#{$social}.svg);

        &:hover {
            background-image: url(../images/icon-#{$social}-hover.svg);
        }
    }
}

/* 頁首區 ---------------------------------------------*/
#topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: $w-100;
    z-index: $z-ex;
    @extend %flex-between;
    padding: $spacing-xs $spacing-xl;

    ul {
        display: flex;
        justify-content: flex-end;
    }

    .menu {
        padding: $spacing-x-xs;
        border-radius: $radius-ex;
        @include glassmorphism;

        a {
            font-family: $family-en;
            font-weight: $f-w-m;
            margin: $spacing-xs;
            @include border-bottom($width: 2px, $color: transparent);

            &:hover {
                color: $black;
                font-weight: $f-w-b;
                @include border-bottom($width: 2px, $color: $black);
            }

        }

    }

}

/* 主要內容區 ---------------------------------------------*/
#index {
    section {
        @extend %flex-center;
        flex-direction: column;
        height: 100vh;

        @media($mediaMd) {
            &video {
                height: auto;
                padding-bottom: $spacing-ex;
            }
        }
    }
}

.list-box {
    display: flex;
    gap: $spacing-lg;
    width: $w-80;
    max-width: 1200px; // 集中閱讀

    .item {
        flex: 1;
        @include bordered;
        border-radius: $radius-md;
        overflow: hidden; // 超過圓角圖片被隱藏
    }
}


// 最新消息
#news {
    background-color: $rose;

    article {
        @media($mediaMd) {
            &:last-child {
                display: none;
            }
        }

        @media($mediaSm) {
            &:nth-child(n+2) {
                // 第二個以後的所有子元素
                display: none;
            }
        }

        a {
            &:hover {
                .text-box {
                    background-color: $grass;
                }

                figure {
                    filter: brightness(60%);
                }
            }

            figure {
                height: 30vh;
                transition: $speed-fast;

                img {
                    @extend %img-cover;
                }
            }

            .text-box {
                padding: $spacing-md;
                transition: $speed-fast;

                h2 {
                    @extend %list-title
                }

                p {
                    text-align: justify; // 齊行 => 英文文案不適用
                    @extend %multiple-line;
                    -webkit-line-clamp: 5;
                }
            }
        }
    }
}

// 服務項目
#service {
    background-color: $caramel;

    .list-box {
        @media($mediaMd) {
            flex-direction: column;
            height: 70vh; // 主軸垂直，高度轉換為hug => 影響子元素
        }
    }

    .item {
        display: flex;
        align-items: flex-end;
        height: 50vh;
        background-size: cover; // 自動縮放並剪裁
        background-position: center; // 背景置中要另外寫

        @media($mediaMd) {
            &:nth-child(n+3) {
                // 第三個(含)以後作用
                display: none;
            }
        }

        @media($mediaSm) {
            &:nth-child(n+2) {
                // 第二個(含)以後作用
                display: none;
            }
        }

        &:nth-child(1) {
            background-image: url(../images/pt_svc1.jpg);
        }

        &:nth-child(2) {
            background-image: url(../images/pt_svc2.jpg);
        }

        &:nth-child(3) {
            background-image: url(../images/pt_svc3.jpg);
        }

        &:nth-child(4) {
            background-image: url(../images/pt_svc4.jpg);

            @media($mediaMd) {
                display: none;
            }
        }

        a {
            width: 100%; // flex會讓a變成hug => 必須手動設定寬度 
            padding: $spacing-md;
            color: $white;
            background-color: $alpha-b-60;
        }

        p {
            @extend %single-line;
        }

        &:hover {
            color: $slate;
            background-color: $alpha-w-70;
            ;
        }
    }
}

// 相關影片
#video {
    background-image: url(../images/bg_contact.jpg);
    background-size: cover; // 自動延展（超過會剪裁）
    background-position: center; // bg-cover建議加上position！
    background-attachment: fixed; // 固定背景

    div {
        @extend %flex-center;
        height: 50vh; // 設定寬度可能等比例超過視窗 => 改為設定高度

        @media($mediaMd) {
            width: 80%;
            height: auto;
        }

        video {
            height: 100%;

            @media($mediaMd) {
                width: 100%;
                height: auto;
            }
        }
    }
}

// 關於我們
#about {
    position: relative;
    background-color: $bg-3;

    div {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 70%;
        padding-top: 5%;
        background-color: $light-gray;
        display: flex;
        @extend %flex-center;
        flex-direction: column;

        @media($mediaMd) {
            width: 90%;
        }

        p {
            overflow: auto;
            width: 80%;
            margin-bottom: $spacing-ex;
            padding-right: $spacing-sm;

            &::-webkit-scrollbar {
                // 滾動條
                // background-color: $bg-2;
                border-radius: $radius-ex;
                width: 12px;
                height: 12px;
            }

            &::-webkit-scrollbar-button {
                // 方向按鈕
                // background-color: $lesser-3;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 12px;
                height: 12px;

                &:vertical:single-button:start {
                    background-image: url(../images/arrow-up.svg);
                }

                &:vertical:single-button:end {
                    background-image: url(../images/arrow-down.svg);
                }

                &:horizontal:single-button:start {
                    background-image: url(../images/arrow-left.svg);
                }

                &:horizontal:single-button:endt {
                    background-image: url(../images/arrow-right.svg);
                }
            }

            &::-webkit-scrollbar-thumb {
                // 手柄
                background-color: $lesser-3;
                border-radius: $radius-ex;
            }

            &::-webkit-scrollbar-track {
                // 滾動軌道（不含按鈕範圍
                background-color: $bg-2;
                border-radius: $radius-ex;
                margin: 5px;

            }

            &::-webkit-scrollbar-track-piece {
                // 未被手柄遮住的軌道
                height: 12px;
                border-radius: $radius-ex;

            }
        }
    }

    video {
        @extend %img-cover;
        mix-blend-mode: overlay;
        filter: brightness(70%) contrast(110%);
    }
}

// 聯絡我們
#contact {
    position: relative;
    overflow: hidden;
    @extend %flex-center;
    flex-direction: column;
    height: 100vh;
    background-color: $bg-1;

    @media($mediaMd) {
        height: auto;
    }

    .content {
        display: flex;
        width: $w-50;

        * {

            flex: 1;
            margin: $spacing-x-sm;

        }

        @media($mediaSm) {
            flex-direction: column;
        }


        h1 {
            font-size: $f-s-xl;
            font-weight: $f-w-b; // 700
        }

        address {
            font-size: $f-s-sm;
            font-style: normal;
            margin: 0;
        }

        // 地圖
        iframe {
            width: $w-100;
            height: 300px;
        }

        // 聯絡表單
        #contactform {
            * {
                display: block;
                width: $w-100;
            }

            label {
                margin: $spacing-label;
                font-weight: $f-w-b;
            }

            .btn-animation {
                @extend %btn-animation;
            }

            input {
                @extend %input-style;
            }

            textarea {
                @extend %input-style;
                border-bottom-right-radius: 0;

                &::-webkit-resizer {
                    background-image: url(../images/arrow-45.svg);
                }

            }
        }

    }


    figure {
        position: absolute;
        width: 250px;

        @media($mediaMd) {
            width: 200px;
        }

        @media($mediaSm) {
            display: none;
        }
    }

    .flower1 {
        left: 0;
        bottom: -30px;
    }

    .flower2 {
        right: -30px;
        top: 100px;
        transform: rotate(-30deg);
    }

}

/* 頁尾區 ---------------------------------------------*/
footer {
    @extend %flex-between;
    padding: $spacing-md $spacing-xl;
    background-color: $caramel;
    color: $deep-gray;

    h2 {
        font-size: $f-s-xl;
        font-weight: $f-w-b;

        span {
            font-size: $f-s-md;
        }
    }

    a {
        color: $charcoal;
        font-weight: $f-w-m;
    }

    .sitemap {
        display: flex;

        @media ($mediaMd) {
            margin-top: $spacing-xl;
        }

        @media ($mediaSm) {
            flex-direction: column;

            ul {
                padding-left: 12px;

                li {
                    padding: $spacing-xs 0;
                }
            }
        }

        // 「>」指定套用於第一層
        >li {
            margin: 0 $spacing-xs;
        }
    }

    small {
        align-self: flex-end;
        margin-top: $spacing-xl;
        font-weight: $f-w-l;
        font-size: $f-s-xs;

        @media ($mediaSm) {
            align-self: flex-start;
            margin-top: $spacing-xs;
        }

    }

    #gotop {
        // display: none;
        width: 50px;
        height: 50px;
        background-color: $lesser-2;
        border-radius: $radius-ex;

        //  botton預設樣式 => 有padding跟margin
        border: none;
        position: fixed;
        bottom: $spacing-lg;
        right: $spacing-lg;
        cursor: pointer;
        z-index: $z-ex;

        &:hover {
            background-color: $grass;
        }
    }
}