@use 'reset'; // @use須在任何其他規則之前寫入
@use 'variables' as *;
@use 'function' as *;
@use 'keyframe';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Morgan";
    src: url(../webfonts/Morgan.ttf);
}

/* 共用區 ---------------------------------------------*/

// 區塊標題
.title {
    margin: $spacing-lg 0 $spacing-xl;
    position: relative;

    * {
        text-align: center;
        font-weight: $f-w-m;
    }

    h2 {
        font-family: $family-display;
        font-weight: $f-w-m;
        font-size: $f-s-lg;
        @include border-bottom;
        position: relative;

        &::before {
            content: ""; // 必填項目！
            position: absolute;
            bottom: 5px;
            left: -35px;
            background-color: $grass;
            width: 17px;
            height: 17px;
            border-radius: $radius-ex;
        }
    }

    h3 {
        font-family: $family-tc;
        font-weight: $f-w-r;
        font-size: $f-s-lg;
        margin-top: 10px;
        position: relative;

        &::after {
            content: ""; // 必填項目！
            position: absolute;
            bottom: 10px;
            right: -28px;
            background-color: $grass;
            width: 10px;
            height: 10px;
            border-radius: $radius-ex;
        }

    }

}

.logo {
    width: 50px;
}

.icon {
    a {
        width: 35px;
        height: 35px;
        margin: $spacing-xxs;
    }
}

.more {
    width: 120px;
    // line-height: 40px; // 單行文字垂直置中，可以使用行高取代高度
    text-align: center;
    background-color: $grass;
    border-radius: $radius-ex;
    vertical-align: middle;
    margin: $spacing-lg;
}

// 迴圈 => 不調用，直接編譯語法（不寫入function
@each $social in fb, ig, line {
    .icon-#{$social} {
        background-image: url(../images/icon-#{$social}.svg);

        &:hover {
            background-image: url(../images/icon-#{$social}-hover.svg);
        }
    }
}

/* 頁首區 ---------------------------------------------*/
#topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: $w-100;
    z-index: $z-ex;
    @extend %flex-between;
    padding: $spacing-xs $spacing-xl;

    ul {
        display: flex;
        justify-content: flex-end;
    }

    .menu {
        padding: $spacing-x-xs;
        border-radius: $radius-ex;
        @include glassmorphism;

        a {
            font-family: $family-en;
            font-weight: $f-w-m;
            margin: $spacing-xs;
            @include border-bottom($width: 2px, $color: transparent);

            &:hover {
                color: $black;
                font-weight: $f-w-b;
                @include border-bottom($width: 2px, $color: $black);
            }

        }

    }

}

/* 主要內容區 ---------------------------------------------*/
#index {
    section {
        @extend %flex-center;
        flex-direction: column;
        height: 100vh;
    }
}

.list-box {
    display: flex;
    gap: $spacing-lg;
    width: $w-80;
    max-width: 1200px; // 集中閱讀

    .item {
        flex: 1;
        @include bordered;
        border-radius: $radius-md;
        overflow: hidden; // 超過圓角圖片被隱藏
    }
}

// 最新消息
#news {
    background-color: $cream;

    figure {
        height: 30vh;

        img {
            @extend %img-cover;
        }
    }

    .text-box {
        padding: $spacing-md;

        h2 {
            font-size: $f-s-lg;
            font-weight: $f-w-m;
            margin-bottom: $spacing-xs;
        }

        p {
            text-align: justify; // 齊行 => 英文文案不適用
            @extend %multiple-line;
            -webkit-line-clamp: 5;

        }

    }

}

// 服務項目
#service {
    .item {
        height: 50px;
        background-size: cover;  // 自動縮放並剪裁
        background-position: center;  // 背景置中要另外寫

        &:nth-child(1) {
            background-image: url(../images/pt_svc1.jpg);
        }

        &:nth-child(2) {
            background-image: url(../images/pt_svc2.jpg);
        }

        &:nth-child(3) {
            background-image: url(../images/pt_svc3.jpg);
        }

        &:nth-child(4) {
            background-image: url(../images/pt_svc4.jpg);
        }


    }
}

// 聯絡我們
#contact {
    position: relative;
    overflow: hidden;
    @extend %flex-center;
    flex-direction: column;
    height: 100vh;
    background-color: $bg-1;

    @media($mediaMd) {
        height: auto;
    }

    .content {
        display: flex;
        width: $w-50;

        * {

            flex: 1;
            margin: $spacing-x-sm;

        }

        @media($mediaSm) {
            flex-direction: column;
        }


        h1 {
            font-size: $f-s-xl;
            font-weight: $f-w-b; // 700
        }

        address {
            font-size: $f-s-sm;
            font-style: normal;
            margin: 0;
        }

        // 地圖
        iframe {
            width: $w-100;
            height: 300px;
        }

        // 聯絡表單
        #contactform {
            * {
                display: block;
                width: $w-100;
            }

            label {
                margin: $spacing-label;
                font-weight: $f-w-b;
            }

            .btn-animation {
                @extend %btn-animation;
            }

            input {
                @extend %input-style;
            }

            textarea {
                @extend %input-style;
            }
        }

    }


    figure {
        position: absolute;
        width: 250px;

        @media($mediaMd) {
            width: 200px;
        }

        @media($mediaSm) {
            display: none;
        }
    }

    .flower1 {
        left: 0;
        bottom: -30px;
    }

    .flower2 {
        right: -30px;
        top: 100px;
        transform: rotate(-30deg);
    }

}

/* 頁尾區 ---------------------------------------------*/
footer {
    @extend %flex-between;
    padding: $spacing-md $spacing-xl;
    background-color: $forest;
    color: $deep-gray;

    h2 {
        font-size: $f-s-xl;
        font-weight: $f-w-b;

        span {
            font-size: $f-s-md;
        }
    }

    a {
        color: $charcoal;
        font-weight: $f-w-m;
    }

    .sitemap {
        display: flex;

        @media ($mediaMd) {
            margin-top: $spacing-xl;
        }

        @media ($mediaSm) {
            flex-direction: column;

            ul {
                padding-left: 12px;

                li {
                    padding: $spacing-xs 0;
                }
            }
        }

        // 「>」指定套用於第一層
        >li {
            margin: 0 $spacing-xs;
        }
    }

    small {
        align-self: flex-end;
        margin-top: $spacing-xl;
        font-weight: $f-w-l;
        font-size: $f-s-xs;

        @media ($mediaSm) {
            align-self: flex-start;
            margin-top: $spacing-xs;
        }

    }
}